body {
  margin: 0;
  font-family: Verdana, sans-serif;
}

.centered {
  max-width: 700px;
  min-width: 250px;
  margin: auto;
  padding: 20px;
  text-align: center;
}

.textarea {
  max-width: 100%;
  min-width: 100%;
  min-height: 40px;
}

.keyboard {
  border: 1px solid black;
}